In [29]:
import numpy as np
import pandas as pd
from datetime import datetime

In [47]:
df_ufc_fighter_tott = pd.read_csv('ufc_fighters_statistics_2.csv')
fighter_summary = pd.read_csv('summary.csv')
df_ufc_event = pd.read_csv('ufc_event_details_processed.csv')
df_fight_results = pd.read_csv('ufc_fight_results_processed.csv')
df_fight_stats = pd.read_csv('ufc_fight_stats_processed.csv')

In [ ]:
merged_df = pd.merge(df_ufc_fighter_tott, fighter_summary, left_on='name', right_on='Fighter', how='inner')

## Creating summary files of names & fighters' history
## Adding weightclass to the fight_stats for easier processing

In [53]:
df_fight_results['BOUT'] = df_fight_results['BOUT'].str.lower().str.strip()
df_fight_results['BOUT'] = df_fight_results['BOUT'].str.replace("  vs.", " vs.", regex=False)
df_fight_stats['BOUT'] = df_fight_stats['BOUT'].str.lower().str.strip()
df_fight_results['EVENT'] = df_fight_results['EVENT'].str.lower().str.strip()
df_fight_stats['EVENT'] = df_fight_stats['EVENT'].str.lower().str.strip()

In [33]:
df_ufc_fighter_tott['name']= df_ufc_fighter_tott['name'].str.strip().str.lower()
fighter_summary['Fighter']= fighter_summary['Fighter'].str.strip().str.lower()

In [34]:
merged_df = pd.merge(df_ufc_fighter_tott, fighter_summary, left_on='name', right_on='Fighter', how='inner')

In [40]:
main_summary = merged_df.drop(columns=['Fighter', 'nickname'])

In [46]:
main_summary

,name,height_cm,weight_in_kg,reach_in_cm,stance,date_of_birth,wins,losses,draws,nc,total_matches
0,robert drysdale,190.50,92.99,NaN,Orthodox,1981-10-05,0,0,0,1,1
1,gerald strebendt,175.26,70.31,NaN,Orthodox,1979-03-01,0,1,0,0,1
2,neil grove,198.12,120.20,NaN,Orthodox,1971-01-18,0,1,0,0,1
3,bo nickal,185.42,83.91,193.04,Southpaw,1996-01-14,4,0,0,0,4
4,ian entwistle,165.10,61.23,NaN,Orthodox,1986-11-19,1,2,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...
2503,abner lloveras,180.34,70.31,NaN,NaN,NaN,0,1,0,0,1
2504,brian melancon,172.72,77.11,NaN,Orthodox,1982-05-28,1,1,0,0,2
2505,amaury bitetti,175.26,83.91,NaN,Orthodox,NaN,1,1,0,0,2
2506,john campetella,175.26,106.59,NaN,Orthodox,NaN,0,1,0,0,1
2507,andre pederneiras,172.72,70.31,NaN,Orthodox,1967-03-22,0,1,0,0,1

In [54]:
fight_stats_with_weightclass = df_fight_stats.merge(

    df_fight_results[['EVENT', 'BOUT', 'weight_class']],

    on=['EVENT', 'BOUT'],

    how='left'
)

In [57]:
fight_stats_with_weightclass['weight_class'].isnull().sum()

np.int64(106)